/* Colors */
:root {
  --main: #810020;
  --accent: #f4b63f;
  --black: #0b0b0b;
  --offblack: #1b1b1b;
  --white: #ffffe4;
}
/* Setup */
body {
  background-color: var(--black);
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: var(--white);
}
/* Container */
.container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
/* Card */
.card {
  width: 96vw;
  height: 70vh;
  padding: 2vh 2vw;
}

.wrapper {
  width: 100%;
  height: 80vh;
  border-bottom: 2vh solid var(--offblack);
}
/* nav */
.nav-bar {
  height: 6.5vh;
  width: 100%;
}

.nav-logo {
  width: 100%;
  height: 5vh;
  padding-top: 1vh;
  fill: var(--main);
}

.nav-link {
  font-size: 2.5vh;
  align-self: center;
  padding: 0px 2vw;
  font-weight: 700;
}

.nav-underline {
  border: 1px solid var(--white);
  width: 80%;
}
/* Hero */
.hero-panel {
  position: absolute;
  top: 0;
  background: url(hero-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  opacity: 0.2;
  z-index: -1;
}

/* .hero-panel-grade {
  position: absolute;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    #0b0b0b,
    #0f0f0f,
    #121212,
    #151515,
    #181818,
    #181818,
    #181818,
    #181818,
    #151515,
    #121212,
    #0f0f0f,
    #0b0b0b
  );
  width: 100vw;
  height: 74vh;
  filter: opacity(0.3);
  z-index: -1;
} */

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-self: center;
  width: 100%;
  color: white;
  z-index: 2;
}
/* button */
.btn {
  background-color: var(--main);
  border-radius: 8px;
  border: 2px solid var(--main);
  width: 60vw;
  max-width: 500px;
  height: 5vh;
  margin-top: 4vh;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.6);
  stroke: black;
}

/* Text */
.big-text {
  font-size: 5.5vh;
  line-height: 6vh;
  letter-spacing: 0.07rem;
}

.yellow {
  color: var(--accent);
  text-decoration: underline;
  border-bottom: 2px solid var(--main);
}

.just-yellow {
  color: var(--accent);
}

.small-grey {
  font-size: 1.3vh;
  opacity: 0.5;
  letter-spacing: 0.15rem;
}

.btn-text {
  font-size: 3vh;
  text-decoration: none;
}
/* svg */
.listen-svg {
  width: 100%;
  height: 40vh;
}

.social-svg {
  width: 80%;
  height: 20vh;
  margin-top: 5vh;
}

.bottom-social-svg {
  width: 40%;
  height: 20vh;
}

.top-social {
  max-width: 300px;
}

.bot-social {
  max-width: 600px;
}

/* list styles */
.no-dec {
  list-style-type: none;
  text-decoration: none;
}

main ul {
  padding: 0;
}

main li {
  display: inline;
}

.trans {
  color: transparent;
}

/* Form styles */
.form {
  width: 80vw;
  max-width: 600px;
  background-color: var(--offblack);
  border-radius: 8px;
  margin-top: 10vh;
}

form :nth-child(odd) {
  margin-top: 22px;
}

form label,
input {
  border-radius: 4px;
  font-family: "Lato", sans-serif;
  font-size: 2vh;
}

form label {
  color: var(--accent);
}

form button {
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: var(--main);
  font-weight: 700;
  width: 20vw;
  max-width: 500px;
  background-color: var(--main);
  color: var(--white);
}

footer {
  background-color: var(--offblack);
  padding: 10px 0px 20px 0px;
}

/* Invis for things not on screen for mobile */
.invis-small {
  position: fixed;
  color: transparent;
}

/* Making the site work for desktop */
/* Starting with 768px for ipad to desktop */
@media all and (min-width: 768px) /* For Standard Desktop */ {
  /* Expanding Nav */
  .logo-link {
    position: absolute;
    left: 0;
    padding-left: 6vw;
  }

  .invis-small {
    position: relative;
    color: var(--white);
  }

  .nav-bar {
    justify-content: flex-end;
    width: 94%;
  }
}
